*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: gray;
    padding: 20px 20px;
    border-radius: 10px;
    width: 350px;
}
h1{
    text-align: center;
    margin-bottom: 15px;
}

.form-div{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
button{
    background-color: chartreuse;
    cursor: pointer;
}

button:hover{
    background-color: darkgreen;
}